@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

:root{
  --bright-color:#814226;
  --light-color:#e0d6d2;
}

html {
  box-sizing: border-box;
  font-size: 28px;
}

*, *:before, *:after {box-sizing: inherit;}

body {
  margin:0;
  background-color: black;
  color: var(--light-color);
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body *{
  /* border: 1px solid var(--light-color); */
}

p {
  margin: 0;
}

a {
  color: var(--light-color);
  text-decoration: none;
}



ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

hr {
  border: 1px solid var(--bright-color);
}

/* img for svg. filter is used to make desired color var(--light-color) */
img {
  filter: invert(93%) sepia(11%) saturate(150%) hue-rotate(333deg) brightness(96%) contrast(85%);
}

header {
  color: var(--bright-color);
  font-weight: bold;
  text-align: center;
}

h1 {
  font-family: 'Amarante', cursive;
  font-size: 3rem;
  margin: 0;
}

#header-line {
  background-color: var(--bright-color);
  width: 100vw;
  height: 0.2rem;
  border-radius: 100%;
}

main {
  display: flex;
  flex-direction: row;
}

nav {
  padding: 0 10px 0 10px;
  min-width: 350px;
}

nav a:hover {
  text-decoration: underline;
}

nav li {
  margin: 5px;
}

#content {
  flex-grow: 1;
  padding: 20px;
}

#category-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.category {
  margin: 20px;
  width: 200px;
  height: 250px;
  padding: 20px;
  border: 4px solid var(--light-color);
  border-radius: 40px;
  transition: padding 0.2s;
  font-size: 0.8rem;
}

.category:hover {
  padding:10px;
  cursor: pointer;
}

.category p {
  text-align: center;
}

/* category_detail */
img.category-image {
  max-width: 100px;
}

div.item-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.item-list a {
  width: 300px;
  height: 100px;
  border: 2px solid var(--light-color);
  border-radius: 20px;
  margin:10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.item-list a:hover {
  background-color: var(--light-color);
  color: black;
}

/* item details */

ul#item-details a:hover{
  text-decoration: underline;
}

/* category form */
form {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

label{
  margin: 15px 0 5px 0;
}

input, textarea, select{
  background-color: var(--light-color);
}

button {
  margin: 10px 30px 10px 0;
  max-width: 300px;
  background-color: var(--bright-color);
  font-size: 0.9rem;
  border-radius: 10px;
  border: none;
}

button:hover {
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 3px 3px var(--bright-color);
}

ul#errors {
  font-style: italic;
  list-style-type: circle;
}

/* deletee category */
dt a{
  color: var(--bright-color);
}

dt a:hover{
  text-decoration: underline;
}

a#change-mind {
  font-size: 0.9rem;
}

a#change-mind:hover{
  text-decoration: underline;
}

div#buttons{
  margin-top: 20px;
}